/* common */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #282828;
}
.header,
.features,
.works,
.team,
.testimonials,
.download,
.footer {
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.primary-btn {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  background-color: #e84545;
  border-radius: 2px;
  transition: 0.2s ease-in;
  position: relative;
  z-index: 1;
}

.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 5px solid #e84545;
  outline-offset: 10px;
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.primary-btn:hover::after,
.primary-btn:focus::after {
  transform: scale(1);
  transform-origin: center;
}
.icon-soc {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in;
  position: relative;
  z-index: 1;
}
.icon-soc:hover,
.icon-soc:focus {
  color: #ffffff;
}

.icon-soc::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  background-color: rgba(232, 69, 69, 0.8);
  transition: 0.2s ease-in;
  z-index: -1;
}

.icon-soc:hover::after,
.icon-soc:focus::after {
  transform: scale(1);
  color: #ffffff;
}
/* /common */

/* header */
.header {
  background: url("../img/header-bg.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 53, 79, 0.95);
  z-index: -1;
}

.header__nav-logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.header__nav {
  max-width: 600px;
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-item a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.header__nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #e84545;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 0.2s ease-in;
  z-index: -1;
}

.header__nav-item a:hover::after,
.header__nav-item a:focus::after {
  transform: scale(1);
  transform-origin: top right;
}

.header__content {
  text-align: center;
  padding-bottom: 155px;
}

.header__title {
  max-width: 880px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin: 155px auto 0;
}

.header__subtitle {
  max-width: 920px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  margin: 50px auto 0;
}

.header__button {
  max-width: 200px;
  margin: 80px auto 0;
}

/* /header */

/* features */
.features {
  background-color: #ffffff;
  padding: 45px 0 125px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px 0;
}

.features__item {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  max-width: 310px;
  text-align: center;
  margin: 80px 20px 0;
}

@media (max-width: 1040px) {
  .features__list {
    justify-content: center;
  }
}

@media (max-width: 689px) {
  .features__list {
    flex-direction: column;
  }
  .features__item:not(:first-child) {
    margin-left: 0px;
  }
}

.features__title {
  font-weight: 700;
  color: #2d3033;
  text-transform: uppercase;
  margin-top: 35px;
}

.features__text {
  font-weight: 400;
  line-height: 21px;
  color: #6c7279;
  margin-top: 25px;
}
/* /features */

/* works */
.works {
  background-color: #ffffff;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.works__sample {
  display: flex;
  position: relative;
}

.works__sample::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  background-color: rgba(232, 69, 69, 0.9);
  transition: 0.2s ease-in;
}

.works__sample:hover::after,
.works__sample:focus::after {
  transform: scale(1);
}

.works__sample img {
  display: block;
  width: 100%;
}

.works__sample span {
  display: none;
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.works__title {
  font-weight: 700;
  text-transform: uppercase;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
}
.works__text {
  font-weight: 400;
  text-transform: capitalize;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.works__sample:hover > span {
  display: block;
  z-index: 1;
}

/* /works */

/* team */
.team {
  background-color: #ffffff;
  padding: 75px 0 105px;
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px 0;
  overflow: auto;
}

@media (max-width: 605px) {
  .team__list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
  }
}

.team__item {
  display: flex;
  flex: 0 0 270px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin: 30px 10px 0;
}

@media (max-width: 605px) {
  .team__item {
    flex-basis: 80%;
    margin: 0;
  }
  .team__item:not(:first-child) {
    margin-left: 20px;
  }
}

.team__avatar img {
  width: 100%;
}

.team__name {
  font-size: 22px;
  font-weight: 500;
  color: #2d3033;
  text-transform: capitalize;
  margin-top: 30px;
}

.team__position {
  font-size: 13px;
  font-weight: 500;
  color: #e84545;
  text-transform: uppercase;
  margin-top: 17px;
}

.team__info {
  max-width: 270px;
  font-size: 14px;
  line-height: calc(21 / 14 * 100%);
  font-weight: 400;
  color: #6c7279;
  text-transform: capitalize;
  margin-top: 30px;
}

.team__social-link {
  border: 1px solid #e8ecee;
  color: rgba(108, 114, 121, 0.8);
  margin-top: 30px;
}

/* /team */

/* testimonials */
.testimonials {
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.testimonials__customers-img {
  flex: 0 0 50%;
  position: relative;
  min-height: 500px;
  overflow: hidden;
}

.testimonials__customer-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  animation: fadeOut ease 1s;
  visibility: hidden;
}

.testimonials__customer-img--active {
  visibility: visible;
  animation: fadeIn ease 2s;
}

.testimonials__customers-review {
  width: 100%;
  padding-top: 115px;
  background-color: #53354a;
  position: relative;
}

.customers-review-wrapper {
  position: fixed;
  margin-left: 85px;
  z-index: 1;
}

.customers-review-wrapper--active {
  position: relative;
  animation: fadeIn ease 2s;
  z-index: 2;
}

.testimonials__review {
  display: block;
  max-width: 430px;
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;
  line-height: calc(42 / 36 * 100%);
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.testimonials__customer-position {
  display: block;
  font-family: "Raleway", serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 25px;
}

.testimonials__slider-btns {
  display: flex;
  margin: 65px 0 0 85px;
}

.slider-btn {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

.slider-btn:not(:first-child) {
  margin-left: 10px;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: rgba(232, 69, 69, 1);
}

.testimonials__slider-btns span[class="slider-btn active"] {
  background-color: rgba(255, 255, 255, 1);
}
/* /testimonials */

/* download */
.download {
  padding: 100px 0;
  font-family: "Raleway", serif;
  background-color: #ffffff;
  text-align: center;
}

.download__text {
  font-size: 28px;
  font-weight: 400;
}

.download__title {
  font-size: 13px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
}

.download__button {
  max-width: 280px;
  margin: 40px auto 0;
}

/* /download */

/* footer */
.footer {
  background-color: #3a3e64;

  font-family: "Raleway", serif;
  font-size: 14px;
  text-align: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 88px;
}

.footer__location {
  flex-basis: 30%;
}

.title {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.address,
.description {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: calc(23 / 14 * 100%);
}

.address {
  max-width: 160px;
  margin: 0 auto 0;
}

.footer__socials-nav {
  display: flex;
  margin-top: 20px;
}

.footer__social-link {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.4s;
}
.footer__social-link:not(:first-child) {
  margin-left: 8px;
}

.footer__about {
  flex-basis: 30%;
}

.copy {
  padding: 30px 0;
  line-height: calc(23 / 14 * 100%);
  color: #6c7279;
  background-color: #313454;
}

.fas {
  font-size: 12px;
  color: #e84545;
  margin: 0 6px 0;
}

.white-text {
  color: #ffffff;
}
/* /footer */
