*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #282828;
}

body.lock {
  overflow: hidden;
}

.header,
.features,
.works,
.team,
.testimonials,
.download,
.footer {
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.primary-btn {
  display: block;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  line-height: 161.53846%;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  background-color: #e84545;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  position: relative;
  z-index: 1;
}

.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 5px solid #e84545;
  outline-offset: 10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.primary-btn:hover::after, .primary-btn:focus::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.icon-soc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  position: relative;
  z-index: 1;
}

.icon-soc:hover,
.icon-soc :focus {
  color: #ffffff;
}

.icon-soc::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: rgba(232, 69, 69, 0.8);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  z-index: -1;
}

.icon-soc:hover::after, .icon-soc:focus::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  color: #ffffff;
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 53, 79, 0.98);
  z-index: -1;
}

.header__nav-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

@media (max-width: 992px) {
  .header__nav-logo-wrapper {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .header__nav-logo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #31354f;
    z-index: 2;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__logo {
    padding-left: 15px;
  }
}

.header__logo-link {
  line-height: 0;
}

.header__nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

@media (min-width: 900px) {
  .header__nav {
    max-width: 600px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .header__nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 72px;
    background-color: rgba(49, 53, 79, 0.95);
    overflow: auto;
    opacity: 0;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
}

@media (max-width: 767px) {
  .header__nav.active {
    opacity: 1;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header__nav-list {
    display: block;
    font-size: 25px;
  }
}

.header__nav-item a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.header__nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #e84545;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  z-index: -1;
}

.header__nav-item a:hover::after, .header__nav-item a:focus::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}

@media (max-width: 767px) {
  .header__nav-item a {
    display: block;
    font-size: 22px;
    margin-top: 20px;
  }
}

.header__burger-btn {
  display: none;
}

@media (max-width: 767px) {
  .header__burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 21px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    cursor: pointer;
  }
  .header__burger-btn .burger-btn-line {
    display: block;
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger-btn:before, .header__burger-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger-btn:before {
    top: 6px;
  }
  .header__burger-btn:after {
    bottom: 4px;
  }
  .header__burger-btn.active {
    border-color: #e84545;
  }
  .header__burger-btn.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger-btn.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 3px;
    top: 12px;
    background-color: #e84545;
  }
  .header__burger-btn.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 3px;
    bottom: 12px;
    background-color: #e84545;
  }
}

.header__content {
  text-align: center;
  padding-bottom: 155px;
}

@media (max-width: 992px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 55vh;
    padding: 20px 0 20px;
  }
}

@media (max-width: 767px) {
  .header__content {
    padding: 120px 0 60px;
  }
}

.header__title {
  max-width: 880px;
  font-family: "Open Sans", sans-serif;
  font-size: calc(35px + 30 * ((100vw - 320px) / (1900 - 320)));
  font-weight: 700;
  line-height: 107.69231%;
  text-transform: uppercase;
  margin: 155px auto 0;
}

@media (max-width: 992px) {
  .header__title {
    margin: 0;
  }
}

.header__subtitle {
  max-width: 920px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  margin: 50px auto 0;
}

@media (max-width: 992px) {
  .header__subtitle {
    margin-top: 35px;
  }
}

.header__button {
  max-width: 200px;
  margin: 80px auto 0;
}

@media (max-width: 992px) {
  .header__button {
    margin-top: 45px;
  }
}

.features {
  background-color: #ffffff;
  padding: 45px 0 125px;
}

@media (max-width: 992px) {
  .features {
    padding: 0 0 80px;
  }
}

@media (max-width: 689px) {
  .features {
    padding: 0 0 50px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px 0;
}

@media (max-width: 1040px) {
  .features__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 689px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.features__item {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  max-width: 310px;
  text-align: center;
  margin: 80px 20px 0;
}

@media (max-width: 689px) {
  .features__item {
    margin: 50px 0 0;
  }
}

.features__title {
  font-weight: 700;
  color: #2d3033;
  text-transform: uppercase;
  margin-top: 35px;
}

.features__text {
  font-weight: 400;
  line-height: 150%;
  color: #6c7279;
  margin-top: 25px;
}

.works {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  -ms-grid-columns: (minmax(390px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.works__sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.works__sample::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: rgba(232, 69, 69, 0.9);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.works__sample:hover::after, .works__sample:focus::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.works__img {
  display: block;
  width: 100%;
}

.works__title, .works__text {
  display: none;
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #ffffff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.works__title {
  font-weight: 700;
  text-transform: uppercase;
  top: 43%;
  left: 50%;
}

.works__text {
  font-weight: 400;
  text-transform: capitalize;
  top: 50%;
  left: 50%;
}

.works__sample:hover > .works__title,
.works__sample:hover > .works__text,
.works__sample:focus > .works__title,
.works__sample:focus > .works__text {
  display: block;
  z-index: 1;
}

.team {
  background-color: #ffffff;
  padding: 75px 0 105px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px 0;
}

@media (max-width: 605px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    overflow: auto;
  }
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin: 30px 10px 0;
}

.team__name {
  font-size: 22px;
  font-weight: 500;
  color: #2d3033;
  text-transform: capitalize;
  margin-top: 30px;
}

.team__position {
  font-size: 13px;
  font-weight: 500;
  color: #e84545;
  text-transform: uppercase;
  margin-top: 17px;
}

.team__info {
  max-width: 270px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #6c7279;
  text-transform: capitalize;
  margin-top: 30px;
}

.team__social-link {
  border: 1px solid #e8ecee;
  color: rgba(108, 114, 121, 0.8);
  margin-top: 30px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.testimonials__customers-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  min-height: 500px;
}

.testimonials__customer-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  visibility: hidden;
}

.testimonials__customer-img--active {
  visibility: visible;
  -webkit-animation: fadeIn ease 2s;
          animation: fadeIn ease 2s;
}

.testimonials__customers-review {
  width: 100%;
  padding-top: 115px;
  background-color: #53354a;
  position: relative;
}

.testimonials__customers-review .customers-review-wrapper {
  position: fixed;
  margin-left: 85px;
  z-index: 1;
}

.testimonials__customers-review .customers-review-wrapper--active {
  position: relative;
  -webkit-animation: fadeIn ease 2s;
          animation: fadeIn ease 2s;
  z-index: 2;
}

.testimonials__review {
  display: block;
  max-width: 430px;
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;
  line-height: 116.66667%;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.testimonials__customer-position {
  display: block;
  font-family: "Raleway", serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 25px;
}

.testimonials__slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 65px 0 0 85px;
}

.testimonials__slider-btns .slider-btn {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.testimonials__slider-btns .slider-btn:not(:first-child) {
  margin-left: 10px;
}

.testimonials__slider-btns .slider-btn:hover, .testimonials__slider-btns .slider-btn:focus {
  background-color: #e84545;
}

.testimonials__slider-btns .slider-btn.active {
  background-color: white;
}

.download {
  padding: 100px 20px;
  font-family: "Raleway", serif;
  background-color: #ffffff;
  text-align: center;
}

@media (max-width: 992px) {
  .download {
    padding: 60px 20px;
  }
}

.download__text {
  font-size: 28px;
  font-weight: 400;
}

.download__title {
  font-size: 13px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
}

.download__button {
  max-width: 280px;
  margin: 40px auto 0;
}

@media (max-width: 344px) {
  .download__button {
    max-width: 200px;
  }
}

.footer {
  background-color: #3a3e64;
  font-family: "Raleway", serif;
  font-size: 14px;
  text-align: center;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 88px;
}

@media (max-width: 992px) {
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 683px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer__location {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 683px) {
  .footer__location {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 30px 0;
  }
}

.footer .title {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media (max-width: 683px) {
  .footer .title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10px;
  }
}

.footer .address,
.footer .description {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 164.28571%;
}

.footer .address {
  max-width: 160px;
  margin: 0 auto 0;
}

@media (max-width: 683px) {
  .footer__share {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer__socials-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media (max-width: 683px) {
  .footer__socials-nav {
    margin-top: 15px;
  }
}

.footer__social-link {
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__social-link:not(:first-child) {
  margin-left: 8px;
}

.footer__about {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 683px) {
  .footer__about {
    max-width: 300px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer .copy {
  padding: 30px 0;
  line-height: 164.28571%;
  color: #6c7279;
  background-color: #313454;
}

@media (max-width: 992px) {
  .footer .copy {
    padding: 18px 0;
  }
}

.footer .fas {
  font-size: 12px;
  color: #e84545;
  margin: 0 6px 0;
}

.footer .white-text {
  color: #ffffff;
}
