.features {
    background-color: #ffffff;
    padding: 45px 0 125px;

    @media (max-width: 992px) {
        padding: 0 0 80px;
    }

    @media (max-width: 689px) {
        padding: 0 0 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -20px 0;

        @media (max-width: 1040px) {
            justify-content: center;
        }

        @media (max-width: 689px) {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    &__item {
        font-family: $ff;
        max-width: 310px;
        text-align: center;
        margin: 80px 20px 0;

        @media (max-width: 689px) {
            margin: 50px 0 0;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: #2d3033;
        text-transform: uppercase;
        margin-top: 35px;

        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 21 / 14 * 100%;
        color: #6c7279;
        margin-top: 25px;

        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }
}
