.header {
    background: url("../img/header-bg.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;
    position: relative;
    z-index: 3;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 46, 74, 0.98);
        z-index: -1;
    }

    &__nav-logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);

        @media (max-width: 992px) {
            padding: 30px 0;
        }

        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 0;
            background-color: #2b2e4a;
            z-index: 2;
        }
    }

    &__logo {
        display: flex;
        @media (max-width: 767px) {
            padding-left: 15px;
        }
    }

    &__logo-link {
        line-height: 0;
    }

    &__nav {
        flex-basis: 65%;

        @media (min-width: 900px) {
            max-width: 600px;
            flex-grow: 1;
        }

        @media (max-width: 767px) {
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            text-align: center;
            margin-top: 72px;
            background-color: rgba(43, 46, 74, 0.95);
            overflow: auto;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s ease-in;
        }

        &.active {
            @media (max-width: 767px) {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            display: block;
            font-size: 25px;
        }
    }

    &__nav-item a {
        font-family: $ff;
        font-size: 13px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #e84545;
            transform: scale(0);
            transform-origin: bottom left;
            transition: 0.2s ease-in;
            z-index: -1;
        }

        &:hover::after,
        &:focus::after {
            transform: scale(1);
            transform-origin: top right;
        }
        @media (max-width: 767px) {
            display: block;
            font-size: 22px;
            margin-top: 20px;
        }
    }

    &__burger-btn {
        display: none;
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-right: 21px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 4px;
            cursor: pointer;

            .burger-btn-line {
                display: block;
                width: 20px;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.7);
                transition: 0.3s;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.7);
                transition: 0.3s;
            }

            &:before {
                top: 6px;
            }

            &:after {
                bottom: 4px;
            }

            &.active {
                border-color: #e84545;
                span {
                    transform: scale(0);
                }
                &:before {
                    transform: rotate(45deg);
                    left: 3px;
                    top: 12px;
                    background-color: #e84545;
                }
                &:after {
                    transform: rotate(-45deg);
                    left: 3px;
                    bottom: 12px;
                    background-color: #e84545;
                }
            }
        }
    }

    &__content {
        text-align: center;
        padding: 155px 0;

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 110px 60px 110px;
        }

        @media (max-width: 767px) {
            padding: 140px 30px 80px;
        }

        @media (max-width: 450px) {
            padding: 140px 0 80px;
        }
    }

    &__title {
        max-width: 880px;
        font-family: "Open Sans", sans-serif;
        font-size: calc(30px + 35 * ((100vw - 320px) / (1900 - 320)));
        font-weight: 700;
        line-height: 70 / 65 * 100%;
        text-transform: uppercase;
        margin: auto;

        @media (min-width: 1901px) {
            font-size: 65px;
        }
    }

    &__subtitle {
        max-width: 920px;
        font-family: $ff;
        font-size: calc(18px + 4 * ((100vw - 320px) / (1900 - 320)));
        font-weight: 400;
        line-height: 33 / 22 * 100%;
        margin: 50px auto 0;

        @media (max-width: 992px) {
            margin-top: 35px;
        }

        @media (min-width: 1901px) {
            font-size: 22px;
        }
    }

    &__button {
        max-width: 200px;
        margin: 80px auto 0;

        @media (max-width: 992px) {
            margin-top: 45px;
        }
    }
}
