.works {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @media (max-width: 992px) {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;

        @media (max-width: 600px) {
            overflow: hidden;
            position: relative;
        }
    }

    &__sample {
        display: flex;
        position: relative;
        border: 1px solid #ffffff;

        @media (max-width: 992px) {
            flex: 0 0 490px;
        }

        @media (max-width: 600px) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex: 0 0 100%;
            border: none;
            visibility: hidden;

            &.active {
                visibility: visible;

                & > .works__img,
                & > .works__title,
                & > .works__text {
                    animation: fadeIn ease 2s;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(0);
            background-color: rgba(232, 69, 69, 0.9);
            transition: 0.2s ease-in;

            @media (max-width: 992px) {
                height: 30%;
                transform: scale(1);
                top: 70%;
            }
        }

        @media (min-width: 993px) {
            &:hover::after,
            &:focus::after {
                transform: scale(1);
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    .slider-bg {
        display: none;
        width: 100%;
        z-index: 0;

        @media (max-width: 600px) {
            display: block;
        }
    }

    &__title,
    &__text {
        display: none;
        position: absolute;
        width: 90%;
        font-family: $ff;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        transform: translateX(-50%);

        @media (max-width: 992px) {
            display: block;
            z-index: 1;
        }
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        top: 43%;
        left: 50%;

        @media (max-width: 992px) {
            top: 76%;
        }

        @media (max-width: 420px) {
            top: 74%;
        }
    }

    &__text {
        font-weight: 400;
        text-transform: capitalize;
        top: 50%;
        left: 50%;

        @media (max-width: 992px) {
            top: 83.5%;
        }

        @media (max-width: 420px) {
            top: 81.5%;
        }
    }

    @media (min-width: 993px) {
        &__sample:hover > &__title,
        &__sample:hover > &__text,
        &__sample:focus > &__title,
        &__sample:focus > &__text {
            display: block;
            z-index: 1;
        }
    }

    &__slider-btns {
        display: none;

        @media (max-width: 600px) {
            display: flex;
            padding: 10px 30px;
            position: absolute;
            bottom: 0.5%;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: 420px) {
            bottom: 0;
            padding: 7px 20px;
        }
    }

    &__slider-btn {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);
        transition: 0.2s;

        &:not(:first-child) {
            margin-left: 20px;
        }
        @media (min-width: 993px) {
            &:hover,
            &:focus {
                background-color: #ffffff;
            }
        }

        &.active {
            background-color: #ffffff;
        }
    }
}
